@media (max-width:576px) {
   .topHeader {
      display: none;
   }
}

@media (max-width:768px) {
   .bannerImg .banner-content .bannerH1 {
      font-size: 40px;
   }
}

@media (min-width:991px) {
   .togalBar {
      display: none;
   }
}

@media (max-width:992px) {
   .mainHeader .headMenu .menuBar {
      display: none;
   }

   .mainHeader .headMenu.menuBar {
      width: 100%;
      background-color: black;
   }

   .togalBar {
      display: block;
   }
}