@media (max-width:576px) {
   .topHeader {
      display: none;
   }
   .sectionJourney{
      background-position: 150px !important;
      background-image: url(../vecater/Subtraction\ 5.svg) !important;
      background-size: cover !important;
   }
   .sectionJourney .boxClarity .clarityofLarg {
      font-size: 40px !important;
      padding-top: 21px 0px !important;
  }
  
}

@media (max-width:768px) {
   .bannerImg .banner-content .bannerH1 {
      font-size: 40px;
   }
   .sectionJourney{
      background-position: right;
      background-size: contain !important;
   }
}

@media (min-width:991px) {
   .togalBar {
      display: none;
   }
}

@media (max-width:992px) {
   .mainHeader .headMenu .menuBar {
      display: none;
   }

   .mainHeader .headMenu.menuBar {
      width: 100%;
      background-color: black;
   }

   .togalBar {
      display: block;
   }
}