@media (min-width: 991px) {
  .togalBar {
    display: none;
  }
}

@media (max-width: 992px) {
  .mainHeader .headMenu .menuBar {
    display: none;
  }

  .mainHeader .headMenu.menuBar {
    width: 100%;
    background-color: black;
  }

  .top-Circle-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px;
  }
  .top-Circle-img {
    grid-template-columns: repeat(2 1fr);
  }
}

@media (max-width: 768px) {
  .bannerImg .banner-content .bannerH1 {
    font-size: 40px;
  }

  .sectionJourney {
    background-position: right;
    background-size: contain;
  }

  .we-do-section .what-we-do {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
   .top-Circle-img {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 576px) {
  .topHeader {
    display: none;
  }

  .sectionJourney {
    background-position: 150px;
    background-image: url(../vecater/Subtraction\ 5.svg);
    background-size: cover;
  }

  .sectionJourney .boxClarity .clarityofLarg {
    font-size: 40px;
    padding-top: 21px 0px;
  }

  .we-do-section .what-we-do {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    gap: 20px;
  }

  .about-section .about-box .about-box-lagtext {
    font-size: 33px;
  }
}
